# os
Thumbs.db
.DS_Store

# ide
.idea
.vscode

# auto generated
**/*.pyc
*.autosave
*.user
*.user.*
CMakeSettings.json
.vs
__pycache__

# ezored
build
build-*
/dist/
/dist.*
/*.dmg
/*.tar
/*.tar.*

# node
node_modules
package-lock.json
